table {
  border-collapse: collapse;
  width: 100%;
}
th {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

td,
th {
  border: 1px solid #aaaaaa;
  text-align: center !important;
  padding: 0px 10px !important;
}

tr:nth-child(even) {
  background-color: #6d56954f;
}

.container {
  margin: 20px;
  box-shadow: 1px 1px 4px rgb(75, 75, 75);
}

a {
  color: black;
  background-color: transparent;
}

.text-left {
  text-align: left !important;
}
