<div>
  <h2 fxLayoutAlign="center">Comentarios</h2>

  <mat-divider></mat-divider>
  <div>
    <div *ngFor="let comment of comments" class="comentario">
      <div fxLayout="row wrap" fxLayoutAlign="space-between flex-start">
        <h3>
          <u>Nombre:</u> {{ comment.name | minusMayus: comment.mayuscula! }}
        </h3>
        <button
          mat-raised-button
          color="primary"
          (click)="changeTypeLetter(comment)"
          [ngClass]="{ mayuscula: comment.mayuscula }"
        >
          {{ comment.mayuscula ? "Minisculas" : "Mayuscula" }}
        </button>
      </div>
      <h4><u>Comentario:</u> {{ comment.body }}</h4>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="emit" fxLayoutAlign="center center">
    <button mat-raised-button color="warn" (click)="emit()">Emitir</button>
  </div>
</div>
